#override("header")
<link rel="stylesheet" href="${request.contextPath}/css/perfect-scrollbar.min.css"/>
#end
#override("body")
	<div class="tab-pane main_wrap box" id="content">
		  <form action="updateUserInfo" name="content_form" class="form-horizontal" id="content_form">
            <div class="btn-toolbar">
                <button class="btn btn-primary save" type="submit"> <i class="icon_save"></i>Save  </button>
            </div>
            <div class="tab-content">
				<div class="tab-pane active" id="base_info">
                   <table class="edit_table">
					  <tr>
						<td>
							<label class="control-label " style="width:140px">Old Password </label>
                          </td>	
						  <td>
							<input type="password" class="span2 in_storage_num param" id="oldPassword" name="oldPassword">
                         </td>
					  </tr>
					  <tr>
						<td>
							<label class="control-label " style="width:140px">Password </label>
                          </td>	
						  <td>
							<input type="password" class="span2 in_storage_num param" id="password" name="password">
                         </td>
					  </tr>
					  <tr>
						 <td>
							<label class="control-label" style="width:140px">Confirm Password</label>
						 </td>
                         <td>
							<input type="password" class="span2 in_storage_num param" id="retypePassword" name="retypePassword">
                         </td>
                      </tr> 
                      
                   </table>
                </div>
			</div>
    	</form>
     </div>
#end
#override("footer")
<script type="text/javascript" src="${request.contextPath}/js/main/change_password.js"></script>
#end
#extends("/layout/layout.vm")