#set($layout="/layout/layout2.vm")
#override("header")
<link rel="stylesheet" href="${request.contextPath}/css/storage.css"/>
<link rel="stylesheet" href="${request.contextPath}/css/perfect-scrollbar.min.css"/>
<script type="text/javascript" src="${request.contextPath}/js/main.js"></script>
#end
#override("body")

	<div class="top">
	    <a id="logo" href="$request.contextPath/" style="background-image: url(${request.contextPath}/css/images/BeefObradyLOGO.png);">
	        Beef O Bradys
	    </a>
	    <a class="hidden-xs open" id="main-menu-toggle">
	        <span class="align-justify"></span>
	    </a>
	    <div class="logout dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown">
		     <div class="user">
		     	<i class="icon_people"></i>
				<span class="hello" title=> ${authz.principal}</span>
			 </div>
		    </a>
			<ul class="dropdown-menu" id = "system">
		      	<li class="dropdown-menu-title"></li>
	            <li>
	                <a class="close_all_tabs"><i class="icon_close_all"></i>close all tab</a>
	            </li>
		      	<li>
		        	<a href="javascript:void(0);"  name="/back/main/user/changeUserInfo"><i class="icon_modify"></i>change userinfo</a>
		        </li>
				<li>
		        	<a href="javascript:void(0);"  name="/back/main/password/changePassword"><i class="icon_modify"></i>change password</a>
		        </li>
		      	<li>
		      		<a href="${request.contextPath}/back/logout" class="exit"><i class="icon_logout"></i>Logout</a>
		      	</li>
		    </ul>
	    
	    </div>
	</div>
	
	<div class="tabWrap">
	    <div id="bs-sidebar" class="bs-sidebar">
			<div class="panel-group bs-sidenav" id="accordion">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h4 class="panel-title" >
	                     	<ul class="nav nav-list">
		                       <li>
			                       	<a class="menu01" href="javascript:void(0);" name="/back/activity" >
			                            	Activity
			                        </a>
		                       </li>
		                       <li>
			                       	<a class="menu02" href="javascript:void(0);" name="/back/food_sales" >
			                            	Food Sales
			                        </a>
		                       </li>
		                       <li>
			                       	<a class="menu02" href="javascript:void(0);" name="/back/beverage_sales" >
			                            	Beverage Sales
			                        </a>
		                       </li>
		                       <li>
			                       	<a class="menu02" href="javascript:void(0);" name="/back/food_beverage_sales" >
			                            	Food & Beverage Sales
			                        </a>
		                       </li>
		                       <li>
			                       	<a class="menu02" href="javascript:void(0);" name="/back/total_sales" >
			                            	Total Sales
			                        </a>
		                       </li>
		                       <li>
			                       	<a class="menu03" href="javascript:void(0);" name="/back/game_sales" >
			                            	Game Sales
			                        </a>
		                       </li>
		                       <li>
			                       	<a  class="menu03" href="javascript:void(0);" name="/back/custom_menu/home_page" >
			                            	Customize Menu
			                        </a>
		                       </li>
		                       <li>
			                       	<a  class="menu04" href="javascript:void(0);" name="/back/device_manage" >
			                            	Device Management
			                        </a>
		                       </li>
		                       <li>
			                       	<a  class="menu05" href="javascript:void(0);" name="/back/user_manage" >
			                            	User Management
			                        </a>
		                       </li>
		                       <li>
			                       	<a  class="menu06" href="javascript:void(0);" name="/back/floor_edit" >
			                            	Waiter & Device
			                        </a>
		                       </li>
		                       <li>
			                       	<a  class="menu07" href="javascript:void(0);" name="/back/send_message" >
			                            	Send Message
			                        </a>
		                       </li>
	                       </ul>
	                    </h4>
	                </div>
	            </div>
	        </div>
	    </div> 
	    <div class="navwrap">
	        <i class="icon-left"></i>
	        <div id="tabnav">
	            <ul id="myTab" class="nav nav-tabs"></ul>
	        </div>
	        <i class="icon-right"></i>
	    </div>
	    <div id="myTabContent" class="tab-content mt20">
	            <!--右边内容区域-->
	
	            <!--右边内容区域-->
	    </div>
		<div class="clear"></div>
	</div>
#end
#override("footer")
	<script type="text/javascript">
		var openPage; 
    	#if($page)
    	openPage ='$page';
    	#end
	</script>
#end
#extends("/layout/layout2.vm")
