#set($layout="layout/layoutback.vm" )
#override("header")
<title>JukeSlotBackend</title>
#end
#override("body")
	<div class="menu_head">
		<span class="dfl white1 pdl20">${time}</span>
		<a href="${request.contextPath}/back/logout" class="dfr white1 pdr20">Logout</a>
		<span class="white1 txw1 txs22">Main Menu</span>
	</div>
	<div class="clearfix pdl20 pdr20 pdt10">
		<span class="dfl">Restaurant Name : ${authz.principal}</span>
		<span class="dfr">Location : Hoover , AL</span>
	</div>
	<div class="menu_bod clearfix pdt50">
		<a href="${request.contextPath}/main/index?page=/back/activity" class="cp bg1">Activity</a>
		<a href="${request.contextPath}/main/index?page=/back/food_sales" class="cp bg2">Food Sales</a>
		<a href="${request.contextPath}/main/index?page=/back/beverage_sales" class="cp bg3">Beverage Sales</a>
		<a href="${request.contextPath}/main/index?page=/back/food_beverage_sales" class="cp bg4">Food & Beverage Sales</a>
		<a href="${request.contextPath}/main/index?page=/back/total_sales" class="cp bg5">Total Sales</a>
		<a href="${request.contextPath}/main/index?page=/back/game_sales" class="cp bg6">Game Sales</a>
	</div>
	<div class="menu_bod2 clearfix pdt20">
		<a href="#" class="cp bg7 dfl">Customize Menu</a>
		<a href="#" class="cp bg8 dfr">Survey Data</a>
	</div>
#end
#override("footer")

#end
#extends("/layout/layoutback.vm")
