<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-US">
   <meta http-equiv="Accept-Language" content="en-US">
    <script type="text/javascript" src="${request.contextPath}/js/component/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/component/migrate.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/component/jquery-ui.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/component/total.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/component/jquery.blockUI.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/component/jquery-ui-slide.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/component/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/component/date.format.js"></script>

	<script type="text/javascript">
    var contextPath = "$request.contextPath";
	var currentUserCode = "${authz.principal}";
	</script>
	<link href="${request.contextPath}/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/css/back/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/css/back/common.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/css/back/grid.css" rel="stylesheet" type="text/css" />
	#block("header") 
       
    #end 
</head> 
	#block("body") 
       base_header_context
    #end
	#block("footer") 
       
    #end
</html>